*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
nav ul li{
    padding: 5px 10px;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
.container section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media(max-width: 991px){
    .container{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: none !important;
}
}